* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    --jaune: #f4f754;
    --rose: #c996eb;
    --mauve: #382a52;
    --noir: black;
    --blanc: white;
    background-color: var(--mauve);
  }

  